@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  color: #ffffff;
  background: #ff8911;
}

body {
  color: #ff8911;
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
