@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./ui/custom.css";

*::selection {
  color: #ffffff;
  background: #ff8911;
}

body {
  color: #ff8911;
  background: #ffffff;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
