.icon-button:hover img {
  display: none;
}

.icon-button:hover p {
  display: block;
}

.icon-button img {
  display: block;
}

.icon-button p {
  display: none;
}

/* width */
.card__text::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.card__text::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.card__text::-webkit-scrollbar-thumb {
  background: #ff8911;
  border-radius: 10px;
}

.card__text::-webkit-scrollbar {
  width: 10px;
}

.cards-container::-webkit-scrollbar-track {
  background: transparent;
}

.cards-container::-webkit-scrollbar-thumb {
  background: #ff8911;
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar {
  width: 10px;
}
