@media (min-width: 1024px) {
  .button--circle:hover .button__img {
    display: none;
  }

  .button--circle:hover .button__text {
    display: block;
  }

  .button--circle .button__img {
    display: block;
  }

  .button--circle .button__text {
    display: none;
  }
}

.button--icon:hover svg path {
  fill: #ffbf7e;
}

.button--iconSecondary svg path {
  fill: #ffffff;
}

.button--iconSecondary:hover svg path {
  fill: rgba(255, 255, 255, 0.5);
}

/* width */
.card__text::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.card__text::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.card__text::-webkit-scrollbar-thumb {
  background: #ff8911;
  border-radius: 10px;
}

.card__text::-webkit-scrollbar {
  width: 10px;
}

.cards-container::-webkit-scrollbar-track {
  background: transparent;
}

.cards-container::-webkit-scrollbar-thumb {
  background: #ff8911;
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar {
  width: 10px;
}

@keyframes alert {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(500px);
    opacity: 0;
    display: none;
  }
}

.alert--animation {
  animation: alert 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.github--animation:hover img {
  animation: jello-horizontal 0.9s both;
}
